:root {
    --primary-color: #0274BE;
    --accent-color: #E74E1B;
    --grey-color: #F4F4F5;
    --linear-color: linear-gradient(220deg, #077FFB 30%, #212121 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Tajawal", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
