:root {
    --primary-color: #0274BE;
    --accent-color: #E74E1B;
    --grey-color: #F4F4F5;
    --black-color: #212121;
    --radial-linear-color: radial-gradient(var(--primary-color), var(--black-color));
}

* {
    margin: 0;
    padding: 0;
    font-family: "Tajawal", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.error-snackbar {
    background-color: var(--accent-color);
    color: var(--grey-color);
}

.mat-mdc-snack-bar-container {
    &.error-snackbar {
      --mdc-snackbar-container-color: var(--accent-color);
      --mat-mdc-snack-bar-button-color: var(--grey-color);
      --mdc-snackbar-supporting-text-color: var(--grey-color);
      --mat-snack-bar-button-color: var(--grey-color);
    }
  }