:root {
    --primary-color: #0274BE;
    --accent-color: #E74E1B;
    --grey-color: #F4F4F5;
    --radial-linear-color: radial-gradient(#077FFB, #212121);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Tajawal", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
