@use '@angular/material' as mat;
@include mat.core();

$custom-primary: mat.define-palette(mat.$blue-palette, 500);
$custom-accent: mat.define-palette(mat.$deep-orange-palette, 500);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
  typography: mat.define-typography-config(
    $font-family: '"Poppins", sans-serif'
  ),
  density: 0
));

@include mat.all-component-themes($custom-theme);