<section id="clients">
  <div class="container">
    <h1>العملاء</h1>
    <div class="functionalities">
      <button mat-mini-fab color="accent" (click)="printTable()">
        <mat-icon>print</mat-icon>
      </button>
      <button
        mat-fab
        extended
        color="primary"
        (click)="openDialog({ modal: 0 })"
      >
        <mat-icon>add</mat-icon>
        إضافة
      </button>
    </div>
    <div class="table">
      <app-table
        [data]="data"
        [columns]="columns()"
        [names]="names()"
        (turn)="onTurn($event)"
        (open)="openDialog($event)"
      />
    </div>
  </div>
</section>
