.table {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    table {
        width: 100%;

        .buttons { 
            display: flex;
            align-items: center;
            gap: 8px;

            button {
                border-radius: 8px;
                aspect-ratio: 1;
                max-height: 32px;
                max-width: 32px;
            }
        }
    }

    .pagination {
        width: 100%;
        display: grid;
        place-items: center;
    }
}