<div class="table">
  <table mat-table [dataSource]="dataSource">
    @for(column of columns; track $index) {
    <ng-container [matColumnDef]="columns[$index]">
      <th mat-header-cell *matHeaderCellDef>
        {{ names[$index] }}
      </th>
      <td mat-cell *matCellDef="let element">
        @if($last) {
        <div class="buttons">
          <button mat-mini-fab color="accent">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="accent">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        } @else {
        {{ element[columns[$index]] }}
        }
      </td>
    </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
  <div class="pagination">
    <mat-paginator
      [length]="this.data.length < 3 ? this.data.length : this.data.length + 1"
      [pageSize]="this.data.length"
      (page)="onTurn($event)"
    ></mat-paginator>
  </div>
</div>
